/* Style */
body {
  background-color: black;
  padding: 20px;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  color: white;
}

p {
  color: white;
}

a {
  color: plum;
}

<<<<<<< HEAD
/* Layout */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
=======
.soldOut {
  opacity: 0.5;
}

.soldOut::before {
  content: "SOLD OUT";
  position: absolute;
  padding: 5px;
  border: solid black;
  background-color: black;
  color: white;
}

/* Layout */
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
>>>>>>> origin/produkt
}

article {
  padding: 10%;
}
